.footer{
    width: 100%;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.288);
}
.letter{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color: black;
}